body {
  background-color:#1ABC9C; 
  align-content: center;
  font-family: verdana;
}
header{
  position: relative;
  margin: 50px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: center;
  vertical-align: auto;
}

ul {
  top: 0;
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
section {
  position: relative;
  margin: 100px;
}